*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(299deg, rgb(71, 73, 73) 25%, rgba(44,93,150,1) 100%);
}   
      
a{
    text-decoration: NONE;
    color: white;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}
    

header div{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #363b4b;
}

h1{
    font-size: 40px;
    color: white;  
}


header .logo-asx{
    width: 250px;
}
  

header button{
    display: flex;
    align-items: center;
    width: 140px;
    padding: 12px;
    border-radius: 7px;
    border: none;
    color: #FFF;
    background-color: rgb(118, 123, 133);
    font-weight: bold;
    cursor: pointer;
    transition: 0.6s;
}

button{
    font-size: 16px;
}

header button img{
    width: 22px;
    margin-left: 10px;
}

#restartLogo{
    width: 30px; /* Ajuste o tamanho da logo conforme necessário */
    transition: transform 1s; /* Suaviza a transição */
}

.rotate {
    transform: rotate(360deg);
}

header button:hover{
    background-color: ghostwhite;
    color: #000;
}




.container::before {
    content: "";
    background: url('b4c785ee18d3ebce19a7d6f7b6f1b75e.png') no-repeat center center;
    background-size: cover;
    filter: blur(4px);  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.1;
    z-index: -1;
}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 100px);
    gap: 14px;
}
   


.place-02, .place-01, .place-03, .place-04{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.place-02 img, .place-01 img, .place-03 img, .place-04 img{
    width: 90px;
    border-radius: 150px;
    margin-bottom: 70px;
}

.container span{
    color: rgb(26, 226, 126);
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}

.container p{
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
}




.place-02{
    border: 4px solid #C0C0C0;
    height: 320px;
    width: 11%;
    border-radius: 15px;
    background: rgb(192,192,192);
    background: linear-gradient(299deg, rgb(156, 152, 152) 0%, rgba(44,93,150,1) 85%);
    transition: 0.7s;
}
   

.place-01{
    border: 4px solid #FFD700;
    height: 320px;
    width: 11%;
    border-radius: 15px;
    background: rgb(255,215,0);
    background: linear-gradient(299deg, rgb(201, 175, 28) 0%, rgba(44,93,150,1) 85%);
    transition: 0.7s;
}

.place-03{
    border: 4px solid #cd7f32;
    height: 320px;
    width: 11%;
    border-radius: 15px;
    background: rgb(170, 108, 45);
    background: linear-gradient(299deg, rgb(161, 100, 39) 22%, rgba(44,93,150,1) 100%);
    transition: 0.7s;
}
.place-04{
    border: 4px solid #182870;
    height: 320px;
    width: 11%;
    border-radius: 15px;
    background: linear-gradient(299deg, rgb(29, 66, 141) 22%, rgb(58, 61, 65) 100%);
    transition: 0.7s;
}

.place-02:hover{
    box-shadow: 5px 5px 0 0 #C0C0C0;
    transform: translateY(-10px);
    transform: translatex(-10px);
}


.place-01:hover{
    box-shadow: 5px 5px 0 0 #FFD700;
    transform: translateY(-10px);
    transform: translatex(-10px);
}

.place-03:hover{
    box-shadow: 5px 5px 0 0 #cd7f32;
    transform: translateY(-10px);
    transform: translatex(-10px);
}

.place-04:hover{
    box-shadow: 5px 5px 0 0 #301177;
    transform: translateY(-10px);
    transform: translatex(-10px);
}

    
footer{
    height: 70px;
    width: 100%;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363b4b;
}

footer h3{
    font-size: 25px;
}




/*RESPONSIVIDADE*/



@media(max-width:900px){
    header{
        height: 40px;
    }

    header .logo-asx{
        width: 150px;
    }

    header h1{
        font-size: 32px;
    }

    header button{
        font-size: 15px;
        padding: 10px;
    }


    .place-02 img, .place-01 img, .place-03 img, .place-04 img{
        width: 80px;
        margin-bottom: 80px;
    }


    .place-02, .place-01, .place-03, .place-04{
        height: 60%;
        width: 22%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
    

@media(max-width:860px){

    .container{
        height: 100%;
    }

    .place-02, .place-01, .place-03, .place-04{
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .container{
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        width: 100%;
        margin-bottom: 10px;
    }
    
    
    .place-02 img, .place-01 img, .place-03 img, .place-04 img{
        width: 90px;
        margin-top: 70px;
    }

    .place-02{
        display: flex;
        align-items: center;
        border: 4px solid #C0C0C0;
        height: 120px;
        width: 450px;
        border-radius: 15px;
        background: rgb(192,192,192);
        background: linear-gradient(299deg, rgba(192,192,192,1) 0%, rgba(44,93,150,1) 85%);
        transition: 0.7s;
    }
       
    
    .place-01{
        display: flex;
        align-items: center;
        border: 4px solid #FFD700;
        height: 120px;
        width: 100%;
        border-radius: 15px;
        background: rgb(255,215,0);
        background: linear-gradient(299deg, rgb(201, 175, 28) 0%, rgba(44,93,150,1) 85%);
        transition: 0.7s;
    }
    
    .place-03{
        display: flex;
        align-items: center;
        border: 4px solid #cd7f32;
        height: 120px;
        width: 100%;
        border-radius: 15px;
        background: rgb(205,127,50);
        background: linear-gradient(299deg, rgba(205,127,50,1) 22%, rgba(44,93,150,1) 100%);
        transition: 0.7s;
    }

    .place-04{
        display: flex;
        align-items: center;
        border: 4px solid #182870;
        height: 120px;
        width: 100%;
        border-radius: 15px;
        background: linear-gradient(299deg, rgb(29, 66, 141) 22%, rgb(58, 61, 65) 100%);
        transition: 0.7s;
    }

    .place-02:hover{
        box-shadow: 0px 7px 50px 0px #C0C0C0;
        transform: translateY(-10px);
        transform: translatex(10px);
    
    }
    
    .place-01:hover{
        box-shadow: 0px 7px 50px 0 #FFD700;
        transform: translateY(-10px);
        transform: translatex(10px);
    }
    
    .place-03:hover{
        box-shadow: 0px 7px 50px 0 #cd7f32;
        transform: translateY(-10px);
        transform: translatex(10px);
    }

    .place-04:hover{
        box-shadow: 0px 7px 50px 0 #182870;
        transform: translateY(-10px);
        transform: translatex(10px);
    }
    
    .container span{
        color: rgb(26, 226, 126);
        font-weight: bold;
        font-size: 20px;
    }
        
    
    .container p{
        color: #fff;
        font-weight: bold;
        font-size: 18px;
    }
    
}

@media(max-width:700px){
    header button{
        width: 100px;
        padding: 7px;
        border-radius: 7px;
        border: none;
        color: #FFF;
        background-color: rgb(118, 123, 133);
        font-weight: bold;
        cursor: pointer;
        transition: 0.6s;
        font-size: 12px;
    }
    
    header h1{
        font-size: 25px;
    }
    
    header .logo-asx{
        width: 20%;
    }

    footer h3{
        font-size: 20px;
    }
}
    


@media(max-width:530px){
    header button{
        display: flex;
        align-items: center;
        width: 80px;
        padding: 7px;
        border-radius: 7px;
        border: none;
        color: #FFF;
        background-color: rgb(118, 123, 133);
        font-weight: bold;
        cursor: pointer;
        transition: 0.6s;
        font-size: 10px;
    }

    #restartLogo{
        width: 16px;
    }

    header button img{
        width: 14px;
        
    }

    header h1{
        font-size: 15px;
    }

    
    header .logo-asx{
        width: 15%;
    }

    footer h3{
        font-size: 15px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .place-02{
        display: flex;
        border: 4px solid #C0C0C0;
        height: 80px;
        width: 100%;
        padding: 40px;
        border-radius: 15px;
        background: rgb(192,192,192);
        background: linear-gradient(299deg, rgba(192,192,192,1) 0%, rgba(44,93,150,1) 85%);
        transition: 0.7s;
    }
       
    
    .place-01{
        border: 4px solid #FFD700;
        height: 80px;
        width: 100%;
        padding: 40px;
        border-radius: 15px;
        background: rgb(255,215,0);
        background: linear-gradient(299deg, rgb(201, 175, 28) 0%, rgba(44,93,150,1) 85%);
        transition: 0.7s;
    }
    
    .place-03{
        border: 4px solid #cd7f32;
        height: 80px;
        width: 100%;
        padding: 40px;
        border-radius: 15px;
        background: rgb(205,127,50);
        background: linear-gradient(299deg, rgba(205,127,50,1) 22%, rgba(44,93,150,1) 100%);
        transition: 0.7s;
    }

    .place-04{
        border: 4px solid #182870;
        height: 80px;
        width: 100%;
        padding: 40px;
        border-radius: 15px;
        background: linear-gradient(299deg, rgb(29, 66, 141) 22%, rgb(58, 61, 65) 100%);
        transition: 0.7s;
    }

    .container span{
        color: rgb(26, 226, 126);
        font-weight: bold;
        font-size: 15px;
        margin-top: 10px;
    }
    
    .container p{
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        margin-right: 20px;
    }

    .place-02 img, .place-01 img, .place-03 img, .place-04 img{
        width: 60px;
        margin-right: 20px;
    }
}

@media(max-width:390px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .place-02{
        display: flex;
        border: 4px solid #8a8383;
        height: 60px;
        width: 100%;
        border-radius: 15px;
        background: rgb(192,192,192);
        background: linear-gradient(299deg, rgb(138, 132, 132) 0%, rgba(44,93,150,1) 85%);
        transition: 0.7s;
    }
       
    
    .place-01{
        border: 4px solid #FFD700;
        height: 60px;
        width: 100%;
        border-radius: 15px;
        background: rgb(255,215,0);
        background: linear-gradient(299deg, rgb(201, 175, 28) 0%, rgba(44,93,150,1) 85%);
        transition: 0.7s;
    }
    
    .place-03{
        border: 4px solid #cd7f32;
        height: 60px;
        width: 100%;
        border-radius: 15px;
        background: rgb(205,127,50);
        background: linear-gradient(299deg, rgba(205,127,50,1) 22%, rgba(44,93,150,1) 100%);
        transition: 0.7s;
    }

    .place-04{
        border: 4px solid #182870;
        height: 60px;
        width: 100%;
        border-radius: 15px;
        background: linear-gradient(299deg, rgb(29, 66, 141) 22%, rgb(58, 61, 65) 100%);
        transition: 0.7s;
    }

    .container span{
        color: rgb(26, 226, 126);
        font-weight: bold;
        font-size: 13px;
    
    }
    
    .container p{
        color: #fff;
        font-weight: bold;
        font-size: 12px;
    }

    .place-02 img, .place-01 img, .place-03 img, .place-04 img{
        width: 50px;
        margin-right: 10px;
    }
}


    


